opentelemetry-api >= 1.44.0, < 2
opentelemetry-sdk >= 1.44.0, < 2
opentelemetry-semantic-conventions >= 0.65b0, < 1
opentelemetry-test-utils >= 0.65b0, < 1
opentelemetry-instrumentation >= 0.65b0, < 1
opentelemetry-distro >= 0.65b0, < 1
opentelemetry-exporter-otlp-proto-grpc >= 1.44.0, < 2
opentelemetry-conformance @ git+https://github.com/open-telemetry/semantic-conventions-conformance.git@be3183aa2ad8ad6dc35450946e908c0b30257175#subdirectory=tools/runner
opentelemetry-genai-mock-server @ git+https://github.com/open-telemetry/semantic-conventions-conformance.git@be3183aa2ad8ad6dc35450946e908c0b30257175#subdirectory=tools/gen-ai/mock-server
genai-conformance @ git+https://github.com/open-telemetry/semantic-conventions-conformance.git@be3183aa2ad8ad6dc35450946e908c0b30257175#subdirectory=tools/gen-ai/runner
