{% import "common.py.j2" as common %}
{{ common.header() }}

{% if common.has_enums(ctx.attributes) %}
from enum import Enum
{% endif %}
from typing import Final

{% for attribute in ctx.attributes %}
{{ attribute.key | screaming_snake_case }}: Final[str] = "{{ attribute.key }}"
"""{{ attribute.brief | trim }}{% if attribute.note %}

{{ attribute.note | trim }}{% endif %}"""

{% endfor %}
{% for attribute in ctx.attributes %}
{% if attribute.type.members %}
class {{ common.enum_name(attribute) }}(str, Enum):
    """Known values for `{{ attribute.key }}`."""

{% for member in attribute.type.members %}
    {{ member.id | screaming_snake_case }} = "{{ member.value }}"
    """{{ member.brief | default(value=member.id) | trim }}{% if member.note %}

    {{ member.note | trim }}{% endif %}"""
{% endfor %}

{% endif %}
{% endfor %}
{% for attribute in ctx.attributes %}
{% if attribute.type.members %}
{% if attribute.key | pascal_case != common.enum_name(attribute) %}
{{ attribute.key | pascal_case }} = {{ common.enum_name(attribute) }}
{% endif %}
{% endif %}
{% endfor %}

__all__ = [
{% for attribute in ctx.attributes %}
    {{ common.attribute_symbols(attribute, quoted=true) }}
{% endfor %}
]
